= simple_form_for @loan, url: inquiry_loans_path(@inquiry.id, @loan) do |f|

  %p
    =link_to 'HumanLoan', root_path
    is developing an unique credit score called
    %strong HumanLoan score
    in order to have a comparable low default rate. However, please be aware that investing in individuals is associated with risk since the return on your investment solely depends on the repayment ability of the individual. Spread your risk and invest in different individuals.

    = f.input :insured, as: :hidden

  -#
    %p
      =link_to 'HumanLoan', root_path
      is prototype. Would you be interested to invest into loans for real?
      = f.input :option, as: :boolean, label: "Yes I'm interested"

  = f.input :taker_id, as: :hidden

  .hidden
    = f.submit 'save'
