%li.inquiry
  .container
    .col-sm-3
      .amount-wrap
        %h1
          = inquiry.format_price
          %small
            \/
            %span.badge.score{class: "c-#{inquiry.score}"}=inquiry.score

    .col-sm-6.reason-col
      .col-reason-wrap
        .circle
          =image_tag inquiry.user.gravatar, width: 30
        .reason
          = inquiry.reason
          .public_name
            = "- #{inquiry.user.public_name}"

    .col-sm-2.inline-tools
      .inline-tools-wrap
        .btn-group
          =link_to 'Details & Invest', root_path, class: %w{btn btn-default btn-sm more-details}
          - if signed_in? and current_user.id == inquiry.user_id
            = link_to 'Edit', edit_inquiry_path(inquiry), class: %w{btn btn-default btn-sm }

    .col-sm-1.expires_at
      =distance_of_time_in_words_to_now inquiry.expires_at

%li.inquiry-details
  .container
    .arr_down=" "

    .row{style: 'padding: 10px'}
      .col-sm-6
        %table.table.table-condensed.score-tabel
          %thead
            %tr
              %td
                %h1=inquiry.rates[:m_1].format
              %td
                %h1=inquiry.rates[:m_6].format
              %td
                %h1=inquiry.rates[:m_12].format
          %tbody
            %tr
              %th 1 month
              %th 6 months
              %th 1 year
        %p
          Your potential repayments if you fund
          %strong=inquiry.user.public_name
          and if he or she repays you back. Repayments are calculated based on
          %strong HumanLoan credit score*.
      .col-sm
        .pull-right
          =link_to 'Invest!', root_path, class: %w{btn btn-default btn-sm}
