%li.inquiry
  .container
    .col-sm-3
      .amount-wrap
        =raw "<h1>#{inquiry.amount.format}<small>/ <span class='badge c-#{inquiry.score}'>#{inquiry.score}</span></small></h1>"
    .col-sm-7.reason-col
      .col-reason-wrap
        .circle
          =image_tag inquiry.user.gravatar, width: 30
        .reason
          = inquiry.reason
          .public_name
            = "- #{inquiry.user.public_name}"
            \/
            =distance_of_time_in_words_to_now inquiry.expires_at

    .col-sm-2.inline-tools
      .inline-tools-wrap
        .pull-right
          .btn-group
            - if signed_in? and current_user.id == inquiry.user_id
              =link_to 'Details', root_path, class: %w{btn btn-default btn-sm more-details}
              = link_to 'Edit', edit_inquiry_path(inquiry), class: %w{btn btn-default btn-sm }
            - else
              =link_to 'Details & Loaning', root_path, class: %w{btn btn-default btn-sm more-details}


%li.inquiry-details
  .container
    .arr_down=" "

    .row-x{style: 'padding: 10px; padding-top:0px;'}
      %table.table.table-condensed.score-tabel
        %thead
          %tr
            %td{style: "width:25%"}
              %h1=inquiry.rates[:m_1].format
            %td{style: "width:25%"}
              %h1=inquiry.rates[:m_6].format
            %td{style: "width:25%"}
              %h1=inquiry.rates[:m_12].format
            %td{style: "width:25%; vertical-align:bottom;", valign:"bottom"}
              .pull-right
                =link_to root_path, class: %w{btn btn-default btn-sm-x} do
                  Lone money now!
          %tr
            %td
              %p=inquiry.rates_insured[:m_1].format
            %td
              %p=inquiry.rates_insured[:m_6].format
            %td
              %p=inquiry.rates_insured[:m_12].format
            %td
              .pull-right
                =link_to root_path, class: %w{btn btn-default btn-sm-x} do
                  Lone money now, insured with
                  = image_tag 'aviva-logo.gif', height: 10
                  !
          %tbody
            %tr
              %th 1 month
              %th 6 months
              %th 1 year
              %td=" "
      %p.text-center
        Your potential repayments if you fund
        %strong=inquiry.user.public_name
        and if he or she repays you back. Repayments are calculated based on
        %strong HumanLoan credit score*.

