!!!
%html
  %head
    %title HumanLoan - Loans from humans to humans
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    -# %meta{name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
  %body
    %header#header
      .container
        = link_to root_path, class: %w{brand} do
          HumanLoan
          %span.mission Loans from humans to humans.

        %p.pull-right
          - if signed_in?
            = current_user.email
            \/
            = link_to 'Sign out', sign_out_path, method: :delete
          - else
            = link_to 'Sign in', sign_in_path

    #flashes
      .container
        -flash.each do |key, value|
          .flash{class: key}
            =value

    =yield

    %footer#footer
      .row.text-center
        .col-sm-6
          %p.text-right
            This is prototype was build for
            %br/
            =link_to "#FINTech @startuplondon", "http://twitter.com/startuplondon"
            %br/
            October 2014.
        .col-sm-6
          %p.text-left
            Code, design &amp; UX:
            =link_to "@otobrglez", "http://twitter.com/otobrglez"
            %br/
            Bussiness developement and idea
            %br/
            =link_to "@nicoarrellaga", "http://twitter.com/nicoarrellaga"
            and
            =link_to "@LarsMarkull", "http://twitter.com/LarsMarkull"

    #modals=" "
    = render 'layouts/tracking'
